/*Index by Teodora Pencheva*/

/*Main SetUp*/
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #5988B2;
}


/*Image SetUp*/
#building {
  z-index: -100;
  width: 75%;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  right: 0;
  text-align: center;
}

#clear {
  z-index: 100;
  width: 75%;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  right: 0;
  text-align: center;
}

#tOne {
  z-index: -100;
  width: 75%;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  right: 0;
  text-align: center;
}

#tTwo {
  z-index: -100;
  width: 75%;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  right: 0;
  text-align: center;
}

#tThree {
  z-index: -100;
  width: 75%;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  right: 0;
  text-align: center;
}

#tFour {
  z-index: -100;
  width: 75%;
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  right: 0;
  text-align: center;
}