
#Container{
    margin: auto;
    width: 75%;
    text-align: center;
}

#p1{
    background-color: #a3ddff;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 17px;
    /* font-weight: bold; */
    text-align: center;
}

#p2{
    background-color: #eaf7ff;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}